<button class="logo-btn">
  <tui-icon icon="@tui.home" />
</button>
<nav>
  <a
    tuiButton
    appearance="action-grayscale"
    type="button">
    <tui-icon
      [icon]="navigation.applications.icon"
      [style.height.rem]="1"/>
    {{ navigation.applications.label }}
    <applications-panel class="submenu-panel"></applications-panel>
  </a>
  <a
    tuiButton
    appearance="action-grayscale"
    type="button">
    <tui-icon
      [icon]="navigation.suites.icon"
      [style.height.rem]="1"/>
    {{ navigation.suites.label }}
    <applications-panel class="submenu-panel"></applications-panel>
  </a>
  <a
    tuiButton
    appearance="action-grayscale"
    type="button">
    <tui-icon
      [icon]="navigation.articles.icon"
      [style.height.rem]="1"/>
    {{ navigation.articles.label }}
    <applications-panel class="submenu-panel"></applications-panel> 
  </a>
</nav>
<button
  class="avatar-btn"
  [tuiDropdown]="dropdownContent"
  tuiDropdownAlign="right"
  [tuiDropdownMaxHeight]="800"
  [tuiDropdownManual]="!!(state.userPanelOpen$ | async)"
  (click)="$event.stopPropagation(); state.toggleUserPanel();">
  <div my-profile-avatar>
    <div notification-indicator top-badge></div>
  </div>
</button>

<ng-template #dropdownContent>
  @if (authentication.token$ | async) {
    <user-panel (outsideClick)="state.closeUserPanel()"></user-panel>
  }
  @else {
    <guest-panel (outsideClick)="state.closeUserPanel()"></guest-panel>
  }
</ng-template>
