@use 'ui/design-system/src/styles' as *;


.suite-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--tui-padding-s);
  margin: var(--tui-padding-s) 0;
  .suite-title {
    margin:0;
  }
}

.suite-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.suite-content {
  padding: var(--tui-padding-m) 0;
}

.suite-info {
  position: relative;
  border-radius: $radius-md;
  padding: $space-6;
}

.suite-divider {
  width: 100%;
  border: 1px solid var(--tui-border-normal);
}

.author-info {
  display: flex;
  align-items: center;
  gap: var(--tui-padding-s);
  margin: var(--tui-padding-s) 0;
}

.author-avatar {
  flex-shrink: 0;
}

.author-name {
  font-size: 14px;
  font-weight: 600;
  color: var(--tui-text-01);
}

.suite-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--tui-text-01);
  margin: 0 0 var(--tui-padding-s) 0;
  line-height: 1.4;
  display: flex;
  gap: var(--tui-padding-s);
}

.suite-meta {
  display: flex;
  align-items: center;
  gap: var(--tui-padding-xs);
  font-size: 13px;
  color: var(--tui-text-03);
  font-weight: 500;
  margin-bottom: var(--tui-padding-m);

  .meta-icon {
    font-size: 16px;
  }
}


.apps-avatars {
  display: flex;
  flex-wrap: wrap;
  gap: $space-1;
  align-items: center;
}

.app-avatar {
  display: block;
  flex-shrink: 0;
  margin-right: var(--tui-padding-xs);
  transition: transform 0.2s ease;
}

.suite-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--tui-padding-xs);
  margin-bottom: var(--tui-padding-m);
}

.suite-tag {
  font-size: 12px;
}

.suite-cta {
  width: 100%;
}

.item-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--tui-background-base-alt);
  color: var(--tui-background-accent-opposite-pressed);
  padding: $space-1 30px $space-1 30px;
  border-radius: $radius-sm;
  gap: var(--tui-padding-m);
}

.action-btn {
  flex-shrink: 0;
}

