@use 'ui/design-system/src/styles' as *;

.suite-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $space-2;
  margin: $space-2 0;
  .suite-title {
    margin: 0;
  }
}

.suite-content {
  padding: $space-4 0;
}


.suite-divider {
  width: 100%;
  border: $border-width-thin solid var(--tui-border-normal);
}

.author-info {
  display: flex;
  align-items: center;
  gap: $space-2;
  margin: $space-2 0;
}

.author-avatar {
  flex-shrink: 0;
}

.author-name {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  color: var(--tui-text-01);
}

.suite-title {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  color: var(--tui-text-01);
  margin: 0 0 $space-2 0;
  line-height: $line-height-tight;
  display: flex;
  gap: $space-2;
}

.suite-apps {
  display: inline-flex;
  flex-wrap: wrap;
  gap: $space-1;
  align-items: center;
  padding: $space-2;
  border-radius: $radius-sm;
  margin-bottom: $space-2;
}


.suite-tag {
  font-size: $font-size-xs;
} 

.suite-tags {
  display: flex;
  flex-wrap: wrap;
  gap: $space-1;
  margin-bottom: $space-2;
}

.bottom-bar {
  display: flex;
  align-items: center;
  gap: $space-2;
}

.cta-button {
  width: 100%;
}

.suite-footer:has(*) {
  margin-bottom: $space-4;
}