@use 'ui/design-system/src/styles' as *;

:host { display: block; }

@container card (max-width: 30rem) {
  button {
    width: $size-touch-min;
    height: $size-touch-min;
    padding: 0;
  }
  .favorite-label { display: none; }
}
