apiVersion: apps/v1
kind: Deployment
metadata:
  name: discussion-materializer
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: discussion-materializer
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "250m"

