
<ui-page-header class="page-header">
  <ui-breadcrumbs
    class="breadcrumbs"
    slot="top-bar"
    [breadcrumbs]="breadcrumb()">
  </ui-breadcrumbs>

  @if (isLoading()) {
    <ui-page-title-skeleton class="page-title-skeleton" slot="title" />
  } @else {
    <h1 uiPageTitle class="page-title" slot="title">
      <span>{{ profile().name }}</span>
      <profile-badges [badges]="profile().badges"></profile-badges>
    </h1>
  }

</ui-page-header>


@if (isError()) {
  <p>Error loading profile. Please try again.</p>
}

<section class="discussion-content-section">

</section>


<!-- <div class="my-profile-page">
  <div class="my-profile-page__container">

    @if (profile$ | async; as profile) {
      <div class="my-profile-page__content">
        <div 
          class="my-profile-page__card"
        >
          <header tuiHeader class="my-profile-page__card-header">
            <h2 tuiTitle>Profile Information</h2>
          </header>

          <div class="my-profile-page__profile-info">
            <div class="my-profile-page__details">
              <div class="my-profile-page__field">
                <label class="my-profile-page__label">Name</label>
                <p class="my-profile-page__value">{{ profile.name }}</p>
              </div>

              <div class="my-profile-page__field">
                <label class="my-profile-page__label">User ID</label>
                <p class="my-profile-page__value">{{ profile.id }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div> -->


