@use 'ui/design-system/src/styles/reset';
@use "@taiga-ui/core/styles/taiga-ui-local";
@use 'theme';
@use 'overrides';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');

:host, html {
  width: 100%;
  margin: 0;
}

body {
  position: relative;
  display: block;
  block-size: 100%;
  isolation: isolate;
  font: var(--tui-font-text-s);
  color: var(--tui-text-primary);
  -webkit-tap-highlight-color: transparent;
  --t-root-top: 0;
  padding: 0;
  margin: 0;

  background: var(--body-background);
}