@use 'ui/design-system/src/styles/reset' as *;
@use 'ui/design-system/src/styles/globals' as *;
@use 'ui/design-system/src/styles/colors' as *;
@use 'variables';
@use 'theme';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');
@import "@taiga-ui/core/styles/taiga-ui-local";

:host, html {
  width: 100%;
  margin: 0;
}

body {
  position: relative;
  display: block;
  block-size: 100%;
  isolation: isolate;
  font: var(--tui-font-text-s);
  color: var(--tui-text-primary);
  -webkit-tap-highlight-color: transparent;
  --t-root-top: 0;
  //  background: var(--feed-radial-gradient);
  padding: 0;
  margin: 0;

  &.light {
    //background: radial-gradient(ellipse 600px 400px at top, #ffffff, #e7ecff);
  }

  &.dark {
    background: radial-gradient(ellipse 600px 400px at top, #ffffff, #e7ecff);
  }
}

// Required by some Taiga UI components
@keyframes tuiPresent {
  to {
    content: '';
  }
}

@keyframes tuiSkeletonVibe {
  to {
    opacity: 0.5;
  }
}

//TODO: fix for taiga-dropdown that doesn't change theme dynamically
tui-dropdown:has(user-panel), tui-dropdown:has(guest-panel) {
  border: none!important;
}


//TODO: create dedicated button with this styling
button tui-loader {
  margin-left: -24px;
}

// Custom action-soft appearance
[tuiAppearance][data-appearance='action-soft'] {
  color: var(--tui-text-action-soft);
  background: var(--tui-background-action-soft);
  backdrop-filter: blur(10px);
  border: 1px solid var(--tui-border-action-soft);
  --tui-border-focus: var(--tui-border-action-soft-focus);

  &:hover {
    color: var(--tui-text-action-soft-hover);
    background: var(--tui-background-action-soft-hover);
  }

  &:active {
    color: var(--tui-text-action-soft-active);
    background: var(--tui-background-action-soft-active);
  }
}