@use 'ui/design-system/src/styles' as *;

.page-header {
  margin-top: $space-20;
}

.discussion-stats-badge {
  opacity: 0.5;
}

.breadcrumbs-skeleton, .breadcrumbs {
  height: $space-3;
}

.page-title-skeleton {
  width: 100%;
  max-width: $size-content-4xl;
  padding: $space-2 0;
}

.discussion-content-section {
  padding: $space-6 0;
}
