<ui-medium-card-skeleton class="discussion-card">
  
  <div class="discussion-header" slot="header">
    <div class="author-info">
      <div class="avatar-skeleton" tuiSkeleton></div>
      <div class="author-details">
        <div class="author-name-skeleton" tuiSkeleton></div>
        <div class="discussion-time-skeleton" tuiSkeleton></div>
      </div>
    </div>
    <div class="discussion-stats-inline">
      <div class="discussion-stat-skeleton" tuiSkeleton></div>
      <div class="discussion-stat-skeleton" tuiSkeleton></div>
    </div>
  </div>

  <div class="discussion-title-skeleton" tuiSkeleton></div>
  <div class="discussion-excerpt-line" tuiSkeleton></div>
  <div class="discussion-excerpt-line" tuiSkeleton></div>

  <div class="discussion-tags">
    <div class="tag-skeleton" tuiSkeleton></div>
    <div class="tag-skeleton" tuiSkeleton></div>
    <div class="tag-skeleton" tuiSkeleton></div>
  </div>
</ui-medium-card-skeleton>

