@use 'ui/design-system/src/styles' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: $size-content-xxs;
}

.portal-logo-wrapper {
  transition: transform 0.2s;
  height: $size-content-xxs;
  padding: $space-4 0;
  display: flex;
  align-items: end;
}

.nav-item {
  .nav-label {
    @media #{$layout-breakpoint-md} {
      visibility: hidden;
    }
  }
}

.nav-label {
  font-size: 0.875rem;
  font-weight: 500;
}

:host.expanded {
  width: 100%;

  @media #{$layout-breakpoint-md} {
    .nav-label {
      display: block
    }
  }
}

