@use 'ui/design-system/src/styles' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: $size-content-xxs;
}

.portal-logo-wrapper {
  transition: transform 0.2s;
  height: $size-content-xxs;
  padding: $space-4 0;
  display: flex;
  align-items: end;
}

.portal-logo {
  transition: transform 0.2s;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  text-decoration: none;
  color: var(--tui-text-01);
  transition: background-color 0.2s;
  
  .nav-icon {
    transition: transform 0.1s;
    transform: translate(0px);
  }

  .nav-label {
    transition: transform 0.1s;
    transform: translate(0px);
    @media #{$layout-breakpoint-md} {
      display: none;
    }
  }

  &:hover {
    background: var(--feed-radial-gradient2);
    .nav-icon {
      transform: translate(10px);
    }
    .nav-label {
      transform: translate(10px);
    }
  }
  
  &.active {
    background: var(--feed-radial-gradient2);
    color: var(--tui-text-on-primary);
  }
}

.nav-icon {
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
}

.nav-label {
  font-size: 0.875rem;
  font-weight: 500;
}



:host.expanded {
  width: 100%;

  .portal-logo {
    transform: scale(1);
  }

  @media #{$layout-breakpoint-md} {
    .nav-label {
      display: block
    }
  }
}

:host:not(.expanded) {
  @media #{$layout-breakpoint-md} {
    .portal-logo {
      transform: scale(0.5) translate(0, 40px);
    }
  }
}


