@use 'ui/design-system/src/styles' as *;

:host {
  display: block;
}

button[type='submit'] {
  width: 100%;
}

.loader {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: $space-6 0;
  
  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  
  span {
    padding: 0 $space-4;
    font-size: $font-size-sm;
  }
}

.error-notification {
  margin-top: $space-4;
}
