apiVersion: v1
kind: Service
metadata:
  name: firebase-auth-validator
  namespace: default
  labels:
    app: firebase-auth-validator
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: firebase-auth-validator

