@use 'ui/design-system/src/styles' as *;

.item-content {
  padding: var(--tui-padding-m);
  display: flex;
  flex-direction: column;
  gap: var(--tui-padding-m);
}

.discussion {
  width: 100%;
}

.discussion-cta {
  width: 100%;
}

.item-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tui-background-base-alt);
  color: var(--tui-background-accent-opposite-pressed);
  padding: $space-1 var(--tui-padding-m);
  border-radius: $radius-sm;
  gap: var(--tui-padding-m);
}

.stats-group {
  display: flex;
  gap: var(--tui-padding-m);
  flex: 1;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: var(--tui-padding-xs);
  font-size: 13px;
  color: var(--tui-text-02);

  tui-icon {
    font-size: 16px;
    color: var(--tui-text-03);
  }
}

.action-btn {
  flex-shrink: 0;
}

