@use 'ui/design-system/src/styles' as *;

.section__filters {
  position: sticky;
  top: 0;
  display: flex;
  padding: $space-4 0;
  z-index: 1;
  
  .sorting-controls {
    min-width: 250px;
  }
}

.section__breadcrumbs {
  margin-top: $space-4;
}

.section__results {
  margin: $space-4 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  gap: $space-6;
  padding: $space-5 $space-4;
  border-radius: $radius-sm;
  background: var(--feed-background);
  width: 100%;

  [slot="bottom-bar"] {
    padding: $space-2 0;
  }

  .item-card {
    box-shadow: $shadow-md;
    transition: box-shadow $duration-200, transform $duration-200;
    cursor: pointer;
    
    &:hover {
      box-shadow: $shadow-lg;
      transform: translateY(-2px);
    }
  }
  
}





.item-card-skeleton {
  width: 100%;
  height: 100%;
  border-radius: $radius-md;
  background: var(--tui-background-base);
}

.top-comment {
  // TODO: make mixin from this styles
  // for standard container
  display: block;
  background: var(--card-gradient-secondary);
  padding: $space-4;
  border-radius: $radius-sm;
}

[slot="author-info"] {
  pointer-events: none;
}

.show-all-results-button {
  width: 100%;
}






