@use 'ui/design-system/src/styles' as *;

.section__filters {
  position: sticky;
  top: 0;
  display: flex;
  padding: $space-4 0;
  z-index: 1;
  
  .sorting-controls {
    min-width: 250px;
  }
}

.section__breadcrumbs {
  margin-top: $space-4;
}

.section__results {
  background: var(--feed-background);
  margin: $space-4 0;
  .show-all-results-button {
    width: 100%;
  }  
}

.item-card {
  box-shadow: $shadow-md;
  transition: box-shadow $duration-200, transform $duration-200;
  cursor: pointer;
  
  &:hover {
    box-shadow: $shadow-lg;
    transform: translateY(-2px);
  }
}

.item-card-skeleton, .item-card {
  width: 100%;
}