@use 'ui/design-system/src/styles' as *;



tui-chip {
  margin: 0.5rem;
  max-inline-size: 9rem;
}


.dropdown-panel {
  width: 250px;
  padding: $space-4;
}


.filters-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $space-2;
  margin-bottom: $space-6;
  padding: $space-4;
  border-radius: $radius-md;
}

.add-filter-button {
  padding: 0 $space-4;
}