:host {
  display: inline-flex;
  align-items: center;
  padding: 12px;
  background-color: aquamarine;
  transition: all 0.2s ease;
  border-radius: 10px;

  tui-icon {
    font-size: 1.25rem; // default/medium size
    line-height: 1;
  }

  // Correlate icon size with button size
  &[data-size='xs'] tui-icon {
    font-size: 0.75rem;
  }

  &[data-size='s'] tui-icon {
    font-size: 1rem;
  }

  &[data-size='m'] tui-icon {
    font-size: 1.25rem;
  }

  &[data-size='l'] tui-icon {
    font-size: 1.5rem;
  }

  &[data-size='xl'] tui-icon {
    font-size: 2rem;
  }

  &.is-sharing {
    tui-icon {
      animation: rotate 1s linear infinite;
    }
  }

  &.share-success {
    tui-icon {
      color: var(--tui-status-positive);
    }
  }

  &:hover:not(:disabled) {
    transform: scale(1.05);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
