<div class="search-container" [class.focused]="isFocused">
  <search-bar
    [initialValue]="initialValue$ | async"
    (onSearch)="onSearchChange($event)"
    (onFocus)="onFocusChange()">
    <tui-loader *ngIf="loadingResults && isFocused"/>
  </search-bar>
  
<div class="dropdown" *ngIf="isFocused">
   <div class="multisearch-result">
     @if (searchPhraseProvided$ | async) {
       <ng-content select="[search-results]"></ng-content>
     }
     @else {   
       <ng-content select="[recent-searches]"></ng-content>
     }
   </div>
 </div>
</div>