@use 'ui/design-system/src/styles' as *;

.search-container {
  position: relative;
  display: block;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  margin-top: $space-1;
}

.multisearch-result {
  box-sizing: border-box;
  padding: var(--tui-padding-l);
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}

.preview-list {
  margin-top: $space-1;
}
