<div class="search-container" [class.focused]="isFocused">
  <search-bar
    ariaLabel="Search applications articles suites"
    (keydown.enter)="submitSearch($event)"
    (submit)="submitSearch($event)"
    [initialValue]="initialValue$ | async"
    (onSearch)="onSearchChange($event)"
    (onFocus)="onFocusChange()">
    <button type="button" tuiButton size="s" appearance="flat" (click)="submitSearch($event)" aria-label="Submit search">Search</button>
    <tui-loader *ngIf="loadingResults && isFocused"/>
  </search-bar>
  
<div class="dropdown" tuiAppearance="card-panel" *ngIf="isFocused">
   <div class="multisearch-result" tuiAppearance="action-menu">
     @if (searchPhraseProvided$ | async) {
       <ng-content select="[search-results]"></ng-content>
     }
     @else {   
       <ng-content select="[recent-searches]"></ng-content>
     }
   </div>
 </div>
</div>
