<div class="search-container" [class.focused]="isFocused">
  <search-bar
    [initialValue]="initialValue$ | async"
    (onSearch)="state.setQueryParams($event)"
    (onFocus)="onFocusChange($event)">
    <tui-loader *ngIf="loadingResults && isFocused"/>
  </search-bar>
  
  <div class="dropdown" *ngIf="isFocused">
    <div class="multisearch-result">
      @if (searchPhraseProvided$ | async) {
        @let searchResult = searchResults$ | async;

        @if (loadingResults) {
          <ul search-result-list-skeleton></ul>
        }
        @else if (searchResult && searchResult.groups.length > 0) {
          <a [full-search-redirect]="searchResult.itemsNumber"></a>
          <ul [search-result-list]="searchResult.groups"></ul>
        }
        @else {
          No results
        }
      }
      @else {   
        Recent searches:
        <ul [search-result-list]="recentSearches.groups"></ul>
      }
    </div>
  </div>
</div>











<!-- <div *ngFor="let record of searchResult">
  <div class="dropdown">
    asdasdasd
    <tui-avatar
        size="l"
        [src]="avatarUrl"
    />
    <div class="text">
        <div class="label">Taiga UI developer</div>
        <div class="name">Alex Inkin</div>
        <div class="account">a.inkin</div>
    </div>
  </div>
</div> -->