<div class="content">
  <div class="root-categories">
    <ul>
      @for (category of (categories$ | async); track category.id) {
        <li (mouseover)="selectCategory(category)">
          {{ category.name }}
        </li>
      }
    </ul>
  </div>
  <div class="child-categories">

    @let selectedCategory = (selectedCategory$ | async); 

    <span>
      <a [routerLink]="[selectedCategory?.path]">{{ selectedCategory?.name }}</a>
    </span>
    <ul>
      @for (category of (childCategories$ | async); track category.id) {
        <li>
          <a [routerLink]="[category.path]">
            {{ category.name }}
          </a>
        </li>
      }
    </ul>
  </div>
</div>
<div class="bar">
  <div class="asd">
    Trending tags:
  </div>
  <div>
    <!-- <trending-tags-container (selectedTag)="navigateToTagListing($event)"></trending-tags-container> -->
  </div>
</div>


