@let isAuthenticated = authService?.isAuthenticated$ | async;
@let primaryNav = getCurrentNavigationPrimary(isAuthenticated ?? false);
@let secondaryNav = getCurrentNavigationSecondary(isAuthenticated ?? false);

<!-- User Profile Section -->
<section class="user-profile_section">
  @if (!isAuthenticated) {
    <button
      class="login-button"
      appearance="primary"
      tuiButton
      type="button"
      routedDialogButton="identity">
      <tui-icon
        icon="@tui.log-in"
        [style.height.rem]="1"/>
      Log In
    </button>
  } @else {
    <div>
      <div my-profile-avatar></div>
      <div my-profile-name></div>
    </div>
  }
</section>
<hr>

<!-- Logout Button -->
<!-- @if (authService) {
  <button
    class="logout-button"
    appearance="flat"
    tuiButton
    type="button"
    (click)="authService.unauthenticate()"
    [title]="'Log out'">
    <tui-icon
      icon="@tui.log-out"
      [style.height.rem]="1"/>
    <span class="nav-label">Log out</span>
  </button>
} -->



<!-- Primary Navigation -->
<nav class="navigation_section">
  @if (!isAuthenticated) {
    <ul>
      @for (item of primaryNav; track item.path) {
        <li>
          <button
          appearance="flat"
          tuiButton
          type="button"
          [title]="item.label"
          routedDialogButton="identity">
            <tui-icon
            [icon]="item.icon"
            [style.height.rem]="1"/>
            <span class="nav-label">{{ item.label }}</span>
          </button>
        </li>
      }
    </ul>
  }
  @else {
  <ul>
    @for (item of primaryNav; track item.path) {
      <li>
        <a
          [routerLink]="['/', item.path]"
          appearance="flat"
          tuiButton
          type="button"
          [title]="item.label">
          <tui-icon
            [icon]="item.icon"
            [style.height.rem]="1"/>
          <span class="nav-label">{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>
  }
</nav>
<hr>



<!-- Secondary Navigation -->
<nav class="navigation_section">
  @if (!isAuthenticated) {
    <ul>
      @for (item of secondaryNav; track item.path) {
        <li>
          <a
            [routerLink]="['/', item.path]"
            appearance="flat"
            tuiButton
            type="button"
            [title]="item.label">
            <tui-icon
              [icon]="item.icon"
              [style.height.rem]="1"/>
            <span class="nav-label">{{ item.label }}</span>
          </a>
        </li>
      }
    </ul>
  } @else {
    <ul>
      @for (item of secondaryNav; track item.path) {
        <li>
          <a
            [routerLink]="['/', item.path]"
            appearance="flat"
            tuiButton
            type="button"
            [title]="item.label">
            <tui-icon
              [icon]="item.icon"
              [style.height.rem]="1"/>
            <span class="nav-label">{{ item.label }}</span>
          </a>
        </li>
      }
    </ul>
  }
</nav>
<hr>




<!-- Theme Section -->
<div class="theme_section">
  <theme-toggle></theme-toggle> 
  <span>
    <strong>{{ (theme.isToggled$ | async) ? "Light" : "Dark" }} Theme</strong>
  </span>
</div>

