@use 'ui/design-system/src/styles' as *;

:host {
  width: $sidebar-min-width;
  display: block;
}

hr {
  width: 100%;
  margin: 0;
  border: 0;
  border-top: 1px solid var(--tui-border-normal);
}


.user-profile_section {
  padding: $space-4 $space-2;
  display: flex;
  align-items: end;
  height: $size-content-xxs;
}

.navigation_section {
  padding: 0.5rem 0;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0.25rem 0;
  }
  
  a, button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--tui-text-01);
    transition: background-color 0.2s;
    width: 100%;
    --t-size: 2.5rem;
    
    &:hover {
      //background-color: var(--tui-base-02);
    }
    
    &.active {
      background-color: var(--tui-primary);
      color: var(--tui-text-on-primary);
    }

  }
}

.nav-label {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.theme_section {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}



