apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: aggregator-csr-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - host: aggregator-csr.dev.wapps.com

