apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-bff
  namespace: catalog
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: catalog-bff
          env:
            - name: EDITORIAL_URL
              value: "http://editorial.editorial.svc.cluster.local:1337"
            - name: NODE_ENV
              value: "development"
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "200m"

