@use 'ui/design-system/src/styles' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: $size-content-xxs;
}

.portal-logo-wrapper {
  transition: transform 0.2s;
  height: $size-content-xxs;
  padding: $space-4 0;
  display: flex;
  align-items: end;
}

:host:not(.expanded) .nav-label {
  @media #{$layout-breakpoint-md} {
    display: none;
  }
}

.nav-label {
  font-size: 0.875rem;
  font-weight: 500;
}

@media #{$layout-breakpoint-md} {
  :host:not(.expanded) [navigationItem] {
    width: $space-16;
    box-sizing: border-box;
  }

  :host:not(.expanded) .portal-logo-wrapper tui-avatar {
    --t-size: #{$space-12};
  }
}

:host.expanded {
  width: 100%;

  @media #{$layout-breakpoint-md} {
    .nav-label {
      display: inline;
    }
  }
}
