@use 'ui/design-system/src/styles' as *;

.page-header {
  margin-top: $space-20;
}

.breadcrumbs-skeleton, .breadcrumbs {
  height: $space-3;
}

.page-title-skeleton {
  width: 100%;
  max-width: $size-content-4xl;
  padding: $space-2 0;
}

.discussion-stats-badge {
  opacity: 0.5;
}

.discussions-intro {
  margin-bottom: $space-6;
  background: var(--feed-background);
}

.pinned-discussions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: $space-6;
}

.discussions-intro [slot="content"] {
  width: 100%;
}

.pinned-discussions-section, .recent-discussions-section {
  margin-top: $space-6;
}

.unpinned-discussion-card {
  margin-top: $space-3;
}


@media (max-width: 768px) {
  .discussions-intro {
    flex-direction: column;
    align-items: flex-start;
  }
}
