
<nav class="sidebar-nav">
  @for (item of navigation; track item.id) {
    <a
      class="nav-item"
      tuiButton
      appearance="ghost"
      type="button" 
      [routerLink]="[item.path]"
      routerLinkActive="active"
      [routerLinkActiveOptions]="getRouterLinkActiveOptions(item.path)"
      [title]="item.label">
      <span class="nav-label">{{ item.label }}</span>
      <div class="nav-icon">
        <tui-icon
          [icon]="item.icon || 'tuiIconSettings'"
          [style.height.rem]="1.2"
          [style.width.rem]="1.2"
          [style.display]="'inline-block'"
          [style.visibility]="'visible'"/>
      </div>
    </a>
  }
</nav>
