<div class="nav-container">
  <div>
    <nav>
      <ul>
        @for (item of navFirst; track item.path;) {
          <li>
            <a tuiLink routerLink="">{{ item.label }}</a>
          </li>
        }
      </ul>
    </nav>
  </div>
  <div>
    <nav>
      <ul>
        @for (item of navFirst; track item.path;) {
          <li>
            <a tuiLink routerLink="">{{ item.label }}</a>
          </li>
        }
      </ul>
    </nav>
  </div>
  <div>
    <nav>
      <ul>
        @for (item of navFirst; track item.path;) {
          <li>
            <a tuiLink routerLink="">{{ item.label }}</a>
          </li>
        }
      </ul>
    </nav>
  </div>
  <div>
    <nav>
      <ul>
        @for (item of navFirst; track item.path;) {
          <li>
            <a tuiLink routerLink="">{{ item.label }}</a>
          </li>
        }
      </ul>
    </nav>
  </div>
</div>
<div class="bottom-bar">
  Lorem ipsum 2025
</div>
