@use 'ui/design-system/src/styles' as *;

.nav-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  padding: $space-12 0;
}

ul {
  padding: 0;
  list-style: none;
}

.bottom-bar {
  text-align: center;
}
