:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--tui-background-base);
  border-bottom: 1px solid var(--tui-border-normal);
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

.footer {
  background: var(--tui-background-neutral-1);
  border-top: 1px solid var(--tui-border-normal);
  margin-top: auto;
}

