:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

a {
  --t-size: var(--tui-height-m);
}

ul {
  list-style: none;
  padding: 0;
}

hr {
  width: 100%;
  margin: 0;
  border: 0;
  border-top: 1px solid var(--tui-border-normal);
}

.user-profile_section {
  padding: 20px 22px;
  display: flex;
  flex-direction: row;
  font: var(--tui-font-text-s);
  color: var(--tui-text-secondary);
  tui-avatar {
    margin-right: 5px;
  }
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navigation_section {
  padding: 0 10px;
}

.theme_section {
  padding: 20px 25px;
  width: 100%;
  display: flex;
  align-items: center;
  font: var(--tui-font-text-s);
  color: var(--tui-text-secondary);
  theme-toggle {
    display: block;
    height: 24px;
    margin-right: 10px;
  }
}



.logout-button {
  width: 100%;
  border-radius: 0;
  padding: 0 28px;
  justify-content: start;
}

div[my-profile-name] {
  margin-left: 10px;
}

