<content-feed-item
  icon="@tui.file-text"
  [item]="item">
  <div class="item-content" content>
    <ui-cover-image
      class="cover-image"
      [image]="getCoverImage()">
    </ui-cover-image>
    <div class="article-info">
      <tui-chip 
        class="article-category" 
        appearance="primary">
        {{ getCategory() }}
      </tui-chip>
      <div class="article-content">
        <h3 class="article-title">{{ getTitle() }}</h3>
        <p class="article-excerpt"><b>{{ getExcerpt() }}</b></p>
        <p class="article-excerpt">{{ getExcerpt() }}</p>
      </div>
      <button
        class="article-cta" 
        tuiButton 
        size="s" 
        appearance="primary">
          <tui-icon icon="@tui.book-open-text"/>
          Read Article
      </button>
    </div>
  </div>
  <div class="item-actions" footer>
    <button 
      class="action-btn"
      tuiButton
      size="s"
      appearance="flat">
        <tui-icon icon="@tui.thumbs-up" />
        30
    </button>
     <button 
      class="action-btn"
      tuiButton
      size="s"
      appearance="flat">
        <tui-icon icon="@tui.messages-square" />
        126 Comments
    </button>
  </div>
</content-feed-item>
