<content-feed-item
  icon="@tui.heart-pulse"
  [item]="item">
  <div class="item-content" content>
    <ui-status-banner
      [status]="getOverallStatus()"
      [message]="getStatusMessage()"
      [timestamp]="getCurrentTimestamp()">
    </ui-status-banner>
    
    <ui-service-status-item
      *ngFor="let service of getServices()"
      [service]="service">
    </ui-service-status-item>
    
    <ui-notices-section
      [notices]="getNotices()"
      [showEmptyState]="true">
    </ui-notices-section>
  </div>
  <div footer>
    <ng-content></ng-content>
  </div>
</content-feed-item>