@use 'ui/design-system/src/styles' as *;

.user-profile_section {
  height: $size-content-xxs;
}


.section_intro {
  height: $size-content-xxs;
}

.section_quick-search {
  position: sticky;
  top: $space-4;
  z-index: 2;
  //padding: $space-5 $space-4;
  // border-radius: $radius-sm;
  // background: var(--feed-radial-gradient);
  multi-search {
    width: 100%;
    display: block;
  }
}

.section__shortcuts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: $space-5 $space-4;
  border-radius: $radius-sm;
  background: var(--feed-radial-gradient);

  &-container {
    display: block;
    width: 100%;
  }
}


.feed-item {
  display: block;
  background-color: var(--tui-background-elevation-1);
  border-radius: $radius-sm;
  box-shadow: $shadow-md;
  margin-bottom: $space-5;
}


.section__feed-heading {
  display: block;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  padding: $space-5 $space-4;
  color: var(--alt-text-color);
  text-align: center;
}




// .shortcuts-heading {
//   padding: $space-5 $space-4;
//   font-size: $font-size-md;
//   text-align: left;
// }

// .separator {
//   margin: $space-7 0;
// }

// .shortcuts {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   gap: $space-2_5;
// }