<section class="section_intro">
  <h1>Welcome to the Home Page</h1>
</section>

<section class="section_quick-search">
  <multi-search></multi-search>
</section>

<section class="section__shortcuts">
  <div class="shortcuts-heading">
    Shortcuts:
  </div>
  <div class="shortcuts">
    <div class="tile">x</div>
    <div class="tile">x</div>
    <div class="tile">x</div>
  </div>
  <hr class="separator">
</section>

<section class="section__feed">
  <feed-container class="section__feed-container">
    <ng-template #itemTemplate let-item>
      @switch (item.type) {
        @case (feedItemType.ARTICLE_HIGHLIGHT_FEED_ITEM_SELECTOR) {
          <article-highlight-feed-item
            class="feed-item"
            [item]="item">
            <discussion *ngIf="item.discussion" [data]="item.discussion"></discussion>
          </article-highlight-feed-item>
        }
        @case (feedItemType.APPLICATION_HEALTH_FEED_ITEM_SELECTOR) {
          <application-health-feed-item 
            class="feed-item"
            [item]="item">
          </application-health-feed-item>
        }
        @default {
          <div content class="unknown-feed-item">
            <p>Unknown feed item type: {{ item.type }}</p>
          </div>
        }
      }
    </ng-template>
  </feed-container>
</section>