<main class="fluid-container">

  <section class="section_intro">
      <h1>Welcome to the Home Page</h1>
  </section>
  


  <section class="section_quick-search">
    <multi-search></multi-search>
  </section>
  

  <section class="section__shortcuts">
    <div class="shortcuts-heading">
      Shortcuts:
    </div>
    <div class="shortcuts">
      <div class="tile">x</div>
      <div class="tile">x</div>
      <div class="tile">x</div>
    </div>
    <hr class="separator">
  </section>

  <section class="section__feed">
    <news-feed [feedItems]="feedItems"></news-feed>
  </section>

</main>
