@use 'ui/design-system/src/styles' as *;
:host { display: grid; gap: $space-4; padding: $space-4; box-sizing: border-box; }
ul { list-style: none; padding: 0; display: grid; gap: $space-2; }
.user-profile_section { display: flex; align-items: center; gap: $space-3; }
a { justify-content: flex-start; }
p { color: var(--tui-text-secondary); }
