<div class="user-profile-section">
  <div class="user-profile">
    <div profile-avatar [avatarPath]="userProfileAvatar()"></div>
    <div profile-name [name]="userProfileName()" class="user-name"></div>
  </div>
</div>

<nav navigationList [alignment]="'start'">
  @for (item of navigation(); track item.path) {
    <a #navigationItem
      navigationItem
      [routerLink]="item.path"
      [routerLinkActive]="navigationItem.activeClass"
      [routerLinkActiveOptions]="navigationItem.getActiveOptions(item.path)">
      <span slot="center" class="nav-label">{{ item.label }}</span>
      @if (item.icon) {
        <tui-icon slot="end" [icon]="item.icon"/>
      }
    </a>
  }
</nav>