@use 'ui/design-system/src/styles' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: $size-content-xxs;
}

.user-profile-section {
  transition: transform 0.2s;
  height: $size-content-xxs;
  padding: $space-4 0;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-2;
  transition: transform 0.2s;
}

.user-name {
  font-size: $font-size-xs;
  font-weight: 500;
  text-align: center;
  transition: transform 0.1s;
  
  @media #{$layout-breakpoint-md} {
    visibility: hidden;
  }
}

:host.expanded {
  width: 100%;

  .user-profile {
    transform: scale(1);
  }

  @media #{$layout-breakpoint-md} {
    .user-name {
      display: block;
      visibility: visible;
    }
  }
}

:host:not(.expanded) {
  @media #{$layout-breakpoint-md} {
    .user-profile {
      transform: scale(0.7) translate(0, 20px);
    }
  }
}

