@let profile = profile$ | async;

<div class="user-profile-section">
  @if (isLoading$ | async) {
    <div class="profile-loading">
      <tui-avatar
        class="user-avatar" 
        size="xl"
      />
    </div>
  } @else if (profile) {
    <div class="user-profile">
      <div my-profile-avatar [avatarPath]="profile.avatarUrl"></div>
      <div my-profile-name [name]="profile.name" class="user-name"></div>
    </div>
  }
</div>

<nav class="sidebar-nav">
  @for (item of navigation; track item.path) {
    <a
      class="nav-item"
      tuiButton
      appearance="ghost"
      type="button" 
      [routerLink]="[item.path]"
      routerLinkActive="active"
      [routerLinkActiveOptions]="getRouterLinkActiveOptions(item.path)"
      [title]="item.label">
      <span class="nav-label">{{ item.label }}</span>
      <div class="nav-icon">
        <tui-icon
          [icon]="item.icon || 'tuiIconSettings'"
          [style.height.rem]="1.2"
          [style.width.rem]="1.2"
          [style.display]="'inline-block'"
          [style.visibility]="'visible'"/>
      </div>
    </a>
  }
</nav>

