
<!-- TODO: shell should allow to define dedicated
 background for each usecase. Use content projection for this purpose. -->
<ui-animated-background class="shell-background"></ui-animated-background>

@if (topBarComponent$ | async; as topBar) {
  <div class="container top-bar">
    <ng-container 
      [safeComponentOutlet]="topBar.component"
      [safeComponentOutletInputs]="topBar.inputs">
    </ng-container>
  </div>  
}

@if (headerComponent$ | async; as header) {
  <header class="container header">
    <ng-container 
      [safeComponentOutlet]="header.component"
      [safeComponentOutletInputs]="header.inputs">
    </ng-container>
  </header>  
}


@if (leftSidebarComponent$ | async; as leftSidebar) {
  <aside 
    class="container sidebar left" 
    [class.expanded]="leftSidebar.inputs.isExpanded">
    <div class="sidebar-inner">
      <button
        class="toggle-button"
        tuiButton 
        appearance="flat" 
        type="button" 
        (click)="toggleLeftSidebar()">
        <tui-icon
          class="toggle-button-icon"
          icon="@tui.chevron-left" 
          [style.height.rem]="1" 
          [style.width.rem]="1" />
      </button>
      <ng-container 
        [safeComponentOutlet]="leftSidebar.component"
        [safeComponentOutletInputs]="leftSidebar.inputs">
      </ng-container>
    </div>
  </aside>
}

<main class="container main">
  <router-outlet></router-outlet>
</main>

@if (rightSidebarComponent$ | async; as rightSidebar) {
  <aside 
    class="container sidebar right" 
    [class.expanded]="rightSidebar.inputs.isExpanded">
    <div class="sidebar-inner">
      <button
        class="toggle-button"
        tuiButton 
        appearance="flat" 
        type="button" 
        (click)="toggleRightSidebar()">
        <tui-icon
          class="toggle-button-icon"
          icon="@tui.chevron-right" 
          [style.height.rem]="1" 
          [style.width.rem]="1" />
      </button>
      <ng-container 
        [safeComponentOutlet]="rightSidebar.component"
        [safeComponentOutletInputs]="rightSidebar.inputs">
      </ng-container>
    </div>
  </aside>
}


@if (footerComponent$ | async; as footer) {
  <footer class="container footer">
    <ng-container 
      [safeComponentOutlet]="footer.component"
      [safeComponentOutletInputs]="footer.inputs">
    </ng-container>
  </footer>
}


@if (bottomBarComponent$ | async; as bottomBar) {
  <div class="container bottom-bar">
    <ng-container 
      [safeComponentOutlet]="bottomBar.component"
      [safeComponentOutletInputs]="bottomBar.inputs">
    </ng-container>
  </div>  
}