<ui-animated-background class="shell-background"></ui-animated-background>

@if (headerComponent$ | async; as header) {
  <header class="container container-header">
    <ng-container 
      *ngComponentOutlet="header.component; inputs: header.inputs">
    </ng-container>
  </header>  
}



@if (leftSidebarComponent$ | async; as leftSidebar) {
  <aside class="container sidebar left">
    <ng-container 
      *ngComponentOutlet="leftSidebar.component; inputs: leftSidebar.inputs">
    </ng-container>
  </aside>
}

<main class="container main">
  <router-outlet></router-outlet>
</main>

@if (rightSidebarComponent$ | async; as rightSidebar) {
  <aside class="container sidebar right">
    <ng-container 
      *ngComponentOutlet="rightSidebar.component; inputs: rightSidebar.inputs">
    </ng-container>
  </aside>
}


@if (footerComponent$ | async; as footer) {
  <footer class="container container-footer">
    <ng-container *ngComponentOutlet="footer.component; inputs: footer.inputs"></ng-container>
  </footer>
}