@use 'ui/design-system/src/styles' as *;



:host {
  display: block;
  position: relative;
}

.shell-background {
  position: fixed;
  inset: 0;
  z-index: 0;
}

.container-header {
  position: sticky;
  top: 0;
  @include main-width();
  margin: 0 auto;
}

.container-footer {
  position: sticky;
  top: 0;
  @include main-width();
  margin: 0 auto;
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;

  &.left {
    left: 0;
    @include sidebar-width();
  }

  &.right {
    right: 0;
    @include sidebar-width();
  }
}

 .container {
    &.main {
      position: relative;
      margin: 0 auto;
      @include main-width();
    }
  }