@use 'ui/design-system/src/styles' as *;


:host {
  position: relative;


  .main {
    display: grid;
    grid-template-columns: $sidebar-base-width 1fr $sidebar-base-width;
    grid-template-areas: "left main right";
    @include main-width-v2();
    @media #{$layout-breakpoint-md} {
      grid-template-areas: "main main main";
    }
  
    @media #{$layout-breakpoint-sm} {
      grid-template-areas: "main main main";
    }
  }

  &:not(:has(.sidebar.right)) .main {
    grid-template-areas: "left main main";
  }

  &:not(:has(.sidebar.left)) .main {
    grid-template-areas: "main main right";
  }

  .main:not(:has(.sidebar.right)), .main:not(:has(.sidebar.left)) {
    @media #{$layout-breakpoint-md} {
      grid-template-areas: "main main main";
    }
  }
}

.shell-background {
  position: fixed;
  inset: 0;
  z-index: 0;
}

.header {
  position: sticky;
  top: 0;
  margin: 0 auto;
  @include main-width();
}

.footer {
  margin: 0 auto;
  @include main-width();
}

.toggle-button {
  position: absolute;
  top: 0;
  width: 100px;
  z-index: $z-sticky + 1;
  display: none;
  @media #{$layout-breakpoint-md} {
    display: block;
  }
}
.container {
  &.main {
    position: relative;
    margin: 0 auto;
    padding: 0 $space-4;
    router-outlet {
      display: contents;
    }

    ::ng-deep > *:not(router-outlet) {
      grid-area: main;
    }
  }
}

.top-bar {
  position:fixed;
  top: 0;
  width: 100%;
}

.bottom-bar {
  position:fixed;
  bottom: 0;
  width: 100%;
}


.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: $z-sticky;
  display: flex;
  @include sidebar-width();

  .sidebar-inner {
    width: $size-content-xxs;
    position: absolute;
    height: 100%;
    @media #{$layout-breakpoint-md} {
      padding: 0 $space-4;
      box-sizing: content-box;
      transition: transform 0.2s;
      // TODO: background color should be configurable, similar to the background color of the shell.
    }
  }

  &.left, &.right {
    .toggle-button-icon {
      transition: transform 0.2s;
    }
  }


  &.left {
    left: 0;
    grid-area: left;
    justify-content: end;
    .sidebar-inner {
      right: 0;
      @media #{$layout-breakpoint-md} {
        transform: translate(calc(-#{$size-content-xxs} + 50px), 0);
        left: 0;
        right: initial;
      }
    }
    .toggle-button {
      right: 0;
      padding: 0 $space-4 0 0;
      .toggle-button-icon {
        transform: rotate(180deg);
      }
    }
    @media #{$layout-breakpoint-md} {
      &.expanded .sidebar-inner { 
        transform: translate(0, 0);
      }
    }
  }

  &.right {
    right: 0;
    grid-area: right;
    justify-content: start;
    .sidebar-inner {
      left: 0;
      @media #{$layout-breakpoint-md} {
        transform: translate(calc(#{$size-content-xxs} - 50px), 0);
        left: initial;
        right:0;
      }
    }
    .toggle-button {
      left: 0;
      padding: 0 0 0 $space-4;
      .toggle-button-icon {
        transform: rotate(180deg);
      }
    }
    @media #{$layout-breakpoint-md} {
      &.expanded .sidebar-inner {
        transform: translate(0, 0);
      }
    }
  }

  &.expanded .toggle-button .toggle-button-icon {
    transform: rotate(0deg);
  }

  &.expanded .sidebar-inner {
    @media #{$layout-breakpoint-md} {
      background-color: white
    }
  }
}

