@use 'ui/design-system/src/styles' as *;



:host {
  display: block;
  position: relative;
}

.shell-background {
  position: fixed;
  inset: 0;
  z-index: 0;
}

.header {
  position: sticky;
  top: 0;
  @include main-width();
  margin: 0 auto;
}

.footer {
  @include main-width();
  margin: 0 auto;
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;

  &.left {
    left: 0;
    @include sidebar-width();

    @media #{$layout-breakpoint-md} {
      .sidebar-inner {
        transform: translate(calc(40px - 100%),0);
      }
    }
  }

  &.right {
    right: 0;
    @include sidebar-width();
    @media #{$layout-breakpoint-md} {
      .sidebar-inner {
        transform: translate(calc(100% - 40px),0);
      }
    }
  }
}

.container {
  &.main {
    position: relative;
    margin: 0 auto;
    @include main-width();
  }
}

.top-bar {
  position:fixed;
  top: 0;
  width: 100%;
}

.bottom-bar {
  position:fixed;
  bottom: 0;
  width: 100%;
}