@use 'ui/design-system/src/styles' as *;

.chat-fade-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $space-24;
  background: var(--chat-fade-gradient);
  pointer-events: none;
  z-index: $z-base;
  border-radius: $radius-sm $radius-sm 0 0;
}

header {
  background: var(--header-gradient);
  position: sticky;
  top: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  width: $space-16;
  height: 100vh;
  @include transition(all, $duration-300);

  &-left {
    left: 0;
    background-color: red;
  }

  &-right {
    right: 0;
    background-color: green;
  }
}

 .container {
    display: block;

    &-main {
      background-color: blue;
    }
  }