apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: rabbitmq

resources:
  - namespace.yaml
  - ingress.yaml

# Note: RabbitMQ is installed via Helm chart (bitnami/rabbitmq)
# See .github/workflows/rabbitmq-provisioning.workflow.yml for installation

