<password-reset-request-form (onSubmit)="onFormSubmit($event)">
  <button
    tuiButton
    type="submit"
    [disabled]="isProcessing">
    <tui-loader
      class="loader"
      [inheritColor]="true"
      [overlay]="true"
      [showLoader]="isProcessing"/>
    Request reset
  </button>
</password-reset-request-form>


@for (entry of timedQueue.entries; track entry.id) {
  <tui-notification size="l">
    {{ entry.item.text }}
    <button
      (click)="timedQueue.dequeue(entry.id)"
      iconStart="@tui.x"
      tuiIconButton
      type="button">
        Close
    </button>
  </tui-notification>
}
