apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: minio

resources:
  - namespace.yaml
  - ingress.yaml

# Note: MinIO is installed via Helm chart (minio/minio)
# See .github/workflows/minio-provisioning.workflow.yml for installation

