apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: editorial-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  ingressClassName: nginx
  rules:
  - host: editorial.development.wapps.ai
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: editorial
            port:
              number: 1337

