apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: editorial-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - host: editorial.development.wapps.com

