.sidebar-nav {
  margin-top: 100px;
  padding: 1rem 0;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: var(--tui-text-01);
  transition: background-color 0.2s;
  
  .nav-icon {
    transition: transform 0.1s;
    transform: translate(0px);
  }

  .nav-label {
    transition: transform 0.1s;
    transform: translate(0px);
  }

  &:hover {
    background: var(--feed-radial-gradient2);
    .nav-icon {
      transform: translate(10px);
    }
    .nav-label {
      transform: translate(10px);
    }
  }
  
  &.active {
    background: var(--feed-radial-gradient2);
    color: var(--tui-text-on-primary);
  }
}

.nav-icon {
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
}

.nav-label {
  font-size: 0.875rem;
  font-weight: 500;
}

