<tui-avatar
  [src]="buildMockFromSlug(appSlug!).logo"
  size="xl"
  class="app-icon"
/>

<nav class="sidebar-nav">
  <a
    *ngFor="let item of navigation"
    class="nav-item"
    tuiButton
    appearance="ghost"
    type="button"
    [routerLink]="item.path | routePath:{ appSlug: appSlug }"
    [routerLinkActiveOptions]="getRouterLinkActiveOptions(item.path)"
    routerLinkActive="active"
    [title]="item.label">
    <span class="nav-label">{{ item.label }}</span>
    <div class="nav-icon">
      <tui-icon
        [icon]="item.icon"
        [style.height.rem]="1.2"
        [style.width.rem]="1.2"
        [style.display]="'inline-block'"
        [style.visibility]="'visible'"/>
    </div>
  </a>
</nav>

