apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - service-account.yaml
  - configmap.yaml
  - cronjob.yaml
  - job.yaml

commonLabels:
  app.kubernetes.io/managed-by: argocd

