apiVersion: v1
kind: ServiceAccount
metadata:
  name: store-app
  labels:
    app: store-app
    app.kubernetes.io/name: store-app
    app.kubernetes.io/component: scrapper
    app.kubernetes.io/part-of: scrappers

