@use 'ui/design-system/src/styles' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.portal-logo {
  height: $size-content-xxs;
  padding: $space-4 0;
  display: flex;
  align-items: end;
}

[navigationItem], [navigationItemSkeleton] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}