@use 'ui/design-system/src/styles' as *;

:host {
  position: relative;
}

.app-content {
  display: flex;
  flex-direction: row;
  gap: var(--tui-padding-m);
}


.app-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $space-2;
}

.app-name {
  font-size: 18px;
  font-weight: 600;
  color: var(--tui-text-01);
}

.app-tags {
  display: flex;
  flex-wrap: wrap;
  gap: $space-2;
}

.app-tag {
  font-size: 12px;
}

.app-divider {
  width: 100%;
  border: $border-width-thin solid var(--tui-border-normal);
}

.bottom-bar {
  display: flex;
  align-items: center;
  gap: $space-2;
}

.app-footer {
  margin-top: $space-2;
}

