<main class="fluid-container">
  <section class="section_quick-search" stickyElement rootMargin="-100px">
    <multi-search #multiSearch>
      <div search-results>
        @let searchResult = (multiSearch.searchResults$ | async);
        @if (searchResult) {
          @if (multiSearch.loadingResults) {
            <ul search-result-list-skeleton></ul>
          }
          @else if (searchResult.groups && searchResult.groups.length > 0) {
            <a class="full-search-redirect" 
              [full-search-redirect]="searchResult.itemsNumber"
              [routerLink]="searchResult.link"
              [queryParams]="searchResult.query">
            </a>
            <ul class="preview-list" 
              [search-result-preview-list]="searchResult.groups">
            </ul>
          }
          @else {
            <p>No results</p>
          }
        }
      </div>

      <div recent-searches>
        @let recentSearches = (multiSearch.recentSearches$ | async);
        @if (recentSearches && recentSearches.searches && recentSearches.searches.length > 0) {
          <div class="recent-searches">
            <h4>Recent searches:</h4>
            <ul [recent-searches-list]="recentSearches.searches"></ul>
          </div>
        } @else {
          <p>No recent searches</p>
        }
      </div>
    </multi-search>
  </section>
  
  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>
  
  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>
  
  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>
  
  
  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>
  
  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>

  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>

  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>

  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>
</main>
