<main class="fluid-container">
  <section class="section_quick-search" stickyElement rootMargin="-100px">
    <multi-search></multi-search>
  </section>
  
  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>
  
  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>
  
  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>
  
  
  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>
  
  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>

  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>

  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>

  <section class="featured grid-container container">
    <div class="application-banner a">asdasd</div>
    <div class="application-banner b">asdasd</div>
    <div class="application-banner c">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
    <div class="application-banner d">asdasd</div>
  </section>
</main>
