@import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--tui-font-text);
  background: var(--tui-background-neutral-1);
  color: var(--tui-text-primary);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: var(--tui-text-action);
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}
