@use 'ui/design-system/src/styles' as *;

.badged-content-wrapper {
  position: relative;
  display: block;
  width: 100%;
}

.badge-slot {
  width: 100%;
  position: relative;
}

.content-slot {
  position: relative;
  z-index: 0;
}

