<div class="dialog">
  <header class="dialog__header">
    <h2>{{ filterName }}</h2>
  </header>

  <section class="dialog__body">
    <multiselect-list
      [items]="options"
      [selectedOptions]="options"
      [placeholder]="placeholder"
      [groupLabel]="filterName"
      (selectionChange)="onSelectionChange($event)">
    </multiselect-list>
  </section>

  <footer class="dialog__actions">
    <button
      tuiButton
      appearance="flat"
      type="button"
      (click)="onCancel()"
    >
      Cancel
    </button>
    <button
      tuiButton
      appearance="primary"
      type="button"
      (click)="onApply()"
    >
      Apply
    </button>
  </footer>
</div>

